.ladingpage-wrapper{
    display: grid;
    grid-template-columns: minmax(0rem,1fr) minmax(min-content,1920px) minmax(0rem,1fr);
    grid-template-rows: 100vh;
    /* grid-template-rows: 150vh; */
}
.landingpage-container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30vh minmax(50vh,min-content) 20vh;
    /* grid-template-rows: 30vh minmax(50vh,min-content) 20vh 50vh; */
}
.search-icons-row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(12rem,min-content));
}
.circle{
    width:12rem;
    height: 12rem;
    border-radius: 100%;
    /* background-color: aqua; */
}
.w80h80{
    width: 80%;height: 80%;
}
.w100h100{
    width: 100%;height: 100%;
}